
<link rel="stylesheet" href="/skeleton/css/skeleton.css">
<script src="/skeleton/js/skeleton.js"></script>

<div id="skeleton-section" class="section-profile">
    <div class="row">
        <div class="topleft duk-icon"><img onclick="removeSection('skeleton-section')" src="/gui/img/x.png"></div>

        <!-- sidebar -->
        <div id="skeleton-sidebar-wrapper" class="column section-profile">
            <h1>{{name}}</h1>
            <p>{{description}}</p>
            <div id="skeleton-sidebar">
                <button type="button" class="button-success atomic-button" onclick="skeletonFunction()">Click me!</button>
            </div>
        </div>

        <!-- main content -->
        <div id="skeleton-content" class="column">
            <label for="skeleton-data">Output</label>
            <textarea id="skeleton-data" class="column log-box" rows="10"></textarea>
        </div>
    </div>
</div>
